.hoverBox {
  background: black;
  transition: 0.2s;
}

.hoverBox:hover {
  background: #444;   /* Color on hover */
}

.google-search-wrapper:hover {
  box-shadow: 0 1px 12px rgba(32, 33, 36, 0.35);
}

.google-search-wrapper:focus-within {
  box-shadow: 0 1px 16px rgba(32, 33, 36, 0.45);
}

.button{
    width:70px;
    height:30px;
}
